hr {
    margin-bottom: 5px;
    margin-top: 8px;
}

.blog-footer {
    padding: 1rem 0;
    margin-top: auto;
    margin-bottom: 3px;
    padding-bottom: 0;
}

.footer a i {
    transition: transform 0.7s ease;
}

.footer a:hover i {
    transform: scale(1.5) rotate(5deg);
}
