<footer class="footer blog-footer">
    <div class="text-center">
        <div class="mb-1">
            <a href="https://www.linkedin.com/in/williambaldoumas/" target="_blank" aria-label="Navigate to LinkedIn" rel="noopener noreferrer" class="mx-2">
                <i class="fab fs-4 fa-linkedin"></i>
            </a>
            <a href="https://hachyderm.io/@@WillBaldoumas" target="_blank" aria-label="Navigate to Mastodon" rel="noopener noreferrer" class="mx-2">
                <i class="fa-brands fs-4 fa-mastodon"></i>
            </a>
            <a href="https://github.com/wbaldoumas" target="_blank" aria-label="Navigate to GitHub" rel="noopener noreferrer" class="mx-2">
                <i class="fab fs-4 fa-github"></i>
            </a>
            <a href="https://twitter.com/WillBaldoumas" target="_blank" aria-label="Navigate to Twitter" rel="noopener noreferrer" class="mx-2">
                <i class="fa-brands fs-4 fa-x-twitter"></i>
            </a>
            <a href="feed.rss" target="_blank" aria-label="Download RSS feed" rel="noopener noreferrer" class="mx-2">
                <i class="fa-solid fs-4 fa-rss"></i>
            </a>
        </div>
        <div>
            <small class="fw-light text-light font-monospace">
                © 2024 Will Baldoumas. All Rights Reserved.
            </small>
        </div>
    </div>
</footer>
