@namespace Coding.Blog.Client.Components

<div class="d-flex align-items-center">
    <strong class="ms-2">Loading...</strong>
    <div class="spinner-border text-success ms-auto me-2 mt-2" role="status" aria-hidden="true"></div>
</div>
