@namespace Coding.Blog.Client.Components

@if (Tags.Any())
{
    foreach (var tag in Tags)
    {
        <a href="@($"/search/{tag}")">
            <span class="badge bg-secondary mx-1">
                @tag
            </span>
        </a>
    }
}

@code {
    [Parameter]
    public IEnumerable<string> Tags { get; set; } = Enumerable.Empty<string>();
}
