@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>
    <main>
        <CascadingValue Name="Books" Value="@_books">
            <CascadingValue Name="Posts" Value="@_posts">
                <article class="content px-4">
                    @Body
                </article>
            </CascadingValue>
        </CascadingValue>
    </main>
</div>

@code {
    private IEnumerable<Book> _books = new List<Book>();
    private IDictionary<string, Post> _posts = new Dictionary<string, Post>();

    protected override async Task OnInitializedAsync()
    {
        var (books, posts) = await (BooksClient.GetAsync(), PostsClient.GetAsync());

        _books = new List<Book>(books);

        _posts = new Dictionary<string, Post>(
            posts.ToDictionary(post => post.Slug, post => post)
        );
    }
}