.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
}

.fab {
    margin-right: 8px;
}

.profile-image-container {
    position: relative;
    overflow: hidden;
    max-width: 175px;
    max-height: 175px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile-image {
    transition: transform 0.5s;
}

.profile-image-container:hover .profile-image {
    transform: scale(1.05);
}

.card {
    padding: 20px;
    margin-bottom: 20px;
}

.hover-link {
    transition: color 0.3s;
}

@media (max-width: 640.98px) {
    .container {
        padding: 0.75rem;
    }

    .card {
        padding: 10px;
    }
}
