@page "/blog"
@page "/blog/{Tag}"
@using Coding.Blog.Engine
@using Coding.Blog.Engine.Extensions

<div class="container mb-3">
    @if (!Posts.Any())
    {
        <div class="d-flex align-items-center">
            <strong class="ms-2">Loading...</strong>
            <div class="spinner-border ms-auto me-2 mt-2" role="status" aria-hidden="true"></div>
        </div>
    }
    else
    {
        <div class="row g-3">
            @foreach (var (slug, post) in GetFilteredPosts())
            {
                <div class="col-12 col-lg-4">
                    <div class="card">
                        <a href="@($"post/{slug}")">
                            <img src=@post.Hero.ImgixUrl class="card-img-top" alt="hero"/>
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">@post.Title</h5>
                            <h6 class="card-subtitle text-muted">@post.DatePublished.ToShortDateString()</h6>
                            <a href="@($"post/{slug}")" class="card-link">Read More</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

@code {

    [Parameter]
    public string? Tag { get; set; }

    [CascadingParameter(Name = "Posts")]
    private IDictionary<string, Post> Posts { get; set; } = new Dictionary<string, Post>();

    private IDictionary<string, Post> GetFilteredPosts() => Tag is null ? Posts : Posts.Where(post => post.Value.Tags.Any(tag => tag.Equals(Tag, StringComparison.OrdinalIgnoreCase))).ToDictionary(kvp => kvp.Key, kvp => kvp.Value);

}