@page "/"

<h1>Welcome!</h1>

<div>
    <p>
        I'm Will and I do tech and music stuff. This is a space for me to write about things I'm either reading or doing. Feel free to peruse!
    </p>
    <p>
        Looking to connect? Find me on <a href="https://github.com/wbaldoumas" target="_blank">GitHub</a> or <a href="https://www.linkedin.com/in/williambaldoumas/" target="_blank">LinkedIn</a>. 😄
    </p>
</div>
