@page "/projects"
@implements IDisposable

<PageTitle>Will Baldoumas | Projects</PageTitle>

<HeadContent>
    <meta name="description" content="A sample of the projects which I maintain, spanning websites, libraries, and command line applications.">
</HeadContent>

<div class="container mb-3">
    @if (_projects is null)
    {
        <LoadingSpinner/>
    }
    else
    {
        @if (!_projects.Any())
        {
            <div class="alert alert-secondary" role="alert">
                No content found. Consider reloading the page.
            </div>
        }
        else
        {
            @foreach (var project in _projects.OrderBy(project => project.Rank))
            {
                <div class="card border-0 mb-3 shadow">
                    <div class="row g-0">
                        <div class="col-md-4 d-flex image-wrapper" style="background-image: url('@project.Image.ImgixUrl');">
                        </div>
                        <div class="col-md-8 d-flex flex-column">
                            <div class="card-body">
                                <h5 class="card-title">@project.Title</h5>
                                <p class="card-text">@project.Description.ToMarkupString(MarkdownPipeline)</p>
                                <p class="card-text">
                                    <TagsDisplay Tags=@project.Tags/>
                                </p>
                            </div>
                            <div class="mt-auto p-3">
                                <a href="@project.ProjectUrl" target="_blank" rel="noreferrer noopener" class="btn btn-success w-100"><i class="fab fa-github"></i> View on GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>

@code {
    private IEnumerable<Project>? _projects;

    private PersistingComponentStateSubscription _persistingComponentStateSubscription;

    protected override async Task OnInitializedAsync()
    {
        _persistingComponentStateSubscription = ApplicationState.RegisterOnPersisting(PersistData);

        _projects = await ProjectApplicationStateService.GetAsync(ApplicationState, ProjectsState.Key);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender) => await JavaScript.InvokeVoidAsync("resetScrollPosition");

    private Task PersistData()
    {
        ApplicationState.PersistAsJson(ProjectsState.Key, _projects);

        return Task.CompletedTask;
    }

    public void Dispose() => _persistingComponentStateSubscription.Dispose();
}
