name: Continuous Deployment

on:
  push:
    branches: [ main ]

  workflow_dispatch:

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  GKE_CLUSTER: ${{ secrets.GKE_CLUSTER_NAME }}
  GKE_ZONE: us-east1-b
  DEPLOYMENT_NAME: coding-blog-deployment
  IMAGE: coding-blog

jobs:
  build-publish-deploy:
    name: build, publish, and deploy
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: checkout code
      uses: actions/checkout@v3

    - name: authorize gcloud
      uses: 'google-github-actions/auth@v1'
      with:
        credentials_json: ${{ secrets.GKE_SA_KEY }}

    - name: setup gcloud cli
      uses: google-github-actions/setup-gcloud@v1.0.1
      with:
        project_id: ${{ secrets.GKE_PROJECT }}

    - name: configure docker
      run: |-
        gcloud --quiet auth configure-docker

    - name: configure kubectl
      uses: google-github-actions/get-gke-credentials@v0.8.2
      with:
        cluster_name: ${{ env.GKE_CLUSTER }}
        location: ${{ env.GKE_ZONE }}

    - name: build docker image
      run: |-
        docker build -f "src/Coding.Blog/Server/Dockerfile" \
          --tag "gcr.io/$PROJECT_ID/$IMAGE" \
          "src"

    - name: publish docker image
      run: |-
        docker push "gcr.io/$PROJECT_ID/$IMAGE"

    - name: deploy
      run: |-
        kubectl rollout restart deployment/$DEPLOYMENT_NAME
